# History files
.Rhistory

# Example code in package build process
*-Ex.R
*~

# Build output
/src-x64
/src-i386
*.log
*.toc
*.blg
*.bbl
*.aux
*.o
*.so
/src/texmex.dll
.Rproj.user
/.RData
/texmex.Rproj
