# Just import the dmvnorm and rmvnorm names from mvtnorm
importFrom(mvtnorm, dmvnorm, rmvnorm)

# Export all names that don't start with "." or are just workers
useDynLib(texmex, .c.exprel, .c.log1prel)

export(AIC.evmOpt)
export(bootExtremalIndex)
export(bootMCS)
export(bootmex)
export(chi)
export(coef.evmBoot)
export(coef.evmOpt)
export(coef.evmSim)
export(coefficients.evmBoot)
export(coefficients.evmOpt)
export(coefficients.evmSim)
export(coefficients.mex)
export(coefficients.migpd)
export(coef.mex)
export(coef.migpd)
export(copula)
#export(Dcond)
export(declust)
export(declust.default)
export(declust.extremalIndex)
export(dgev)
export(dgpd)
export(edf)
export(endPoint)
export(endPoint.evmBoot)
export(endPoint.evmOpt)
export(endPoint.evmSim)
export(evm)
export(evmBoot)
export(evm.declustered)
export(evm.default)
export(evmFit)
export(evmSim)
export(evmSimSetSeed)
export(extremalIndex)
export(extremalIndexRangeFit)
export(findFormulae)
export(getPlotRLdata)
export(gev)
export(gpd)
export(gpd.info)
export(gpdRangeFit)
export(hist.evmOpt)
export(initRNG)
export(linearPredictors)
export(linearPredictors.evmBoot)
export(linearPredictors.evmOpt)
export(linearPredictors.evmSim)
export(MCS)
export(mex)
export(mexDependence)
export(mexRangeFit)
export(mexTransform)
export(migpd)
export(migpdCoefs)
export(mrl)
export(namesBoot2sim)
export(pgev)
export(pgpd)
export(plot.bootMCS)
export(plot.bootmex)
export(plot.chi)
export(plot.copula)
export(plot.declustered)
export(plot.evmBoot)
export(plot.evmOpt)
export(plot.evmSim)
export(plot.extremalIndex)
export(plot.gpdRangeFit)
export(plot.hist.evmOpt)
export(plot.lp.evmBoot)
export(plot.lp.evmOpt)
export(plot.lp.evmSim)
export(plot.MCS)
export(plot.mex)
export(plot.mexRangeFit)
export(plot.migpd)
export(plot.mrl)
export(plot.ppevm)
export(plot.predict.mex)
export(plot.qqevm)
export(plotRLevm)
export(plot.rl.evmBoot)
export(plot.rl.evmOpt)
export(plotrl.evmOpt)
export(plot.rl.evmSim)
export(ppevm)
export(predict.evmBoot)
export(predict.evmOpt)
export(predict.evmSim)
export(predict.mex)
export(print.bootMCS)
export(print.bootmex)
export(print.chi)
export(print.copula)
export(print.declustered)
export(print.evmBoot)
export(print.evmOpt)
export(print.evmSim)
export(print.extremalIndex)
export(print.gpdRangeFit)
export(print.hist.evmOpt)
export(print.lp.evmBoot)
export(print.lp.evmOpt)
export(print.lp.evmSim)
export(print.MCS)
export(print.mex)
export(print.mexDependence)
export(print.migpd)
export(print.mrl)
export(print.ppevm)
export(print.predict.mex)
export(print.rl.evmBoot)
export(print.rl.evmOpt)
export(print.rl.evmSim)
export(print.summary.evmBoot)
export(print.summary.evmOpt)
export(print.summary.evmSim)
export(print.summary.predict.mex)
export(print.texmexFamily)
export(qgev)
export(qgpd)
export(qgpd2)
export(qqevm)
export(revTransform)
export(rFrechet)
export(rgev)
export(rgpd)
export(rl)
export(rl.evmBoot)
export(rl.evmOpt)
export(rl.evmSim)
export(rMaxAR)
#export(roots)
export(summary.bootMCS)
export(summary.chi)
export(summary.copula)
export(summary.evmBoot)
export(summary.evmOpt)
export(summary.evmSim)
export(summary.gpdRangeFit)
export(summary.lp.evmBoot)
export(summary.lp.evmOpt)
export(summary.lp.evmSim)
export(summary.MCS)
export(summary.mex)
export(summary.migpd)
export(summary.mrl)
export(summary.predict.mex)
export(summary.rl.evmBoot)
export(summary.rl.evmOpt)
export(summary.rl.evmSim)
export(summary.texmexFamily)
export(texmexFamily)
export(thinAndBurn)
export(thinAndBurn.evmSim)
export(u2gpd)
#export(validate.texmex)

#export(test.bootmex)
#export(test.chi)
#export(test.closures)
#export(test.copula)
#export(test.dgpd)
#export(test.endPoint)
#export(test.evm)
#export(test.evmBoot)
#export(test.exprel)
#export(test.extremalIndex)
#export(test.gpd.info)
#export(test.gpdRangeFit)
#export(test.log1prel)
#export(test.MCS)
#export(test.mexDependence)
#export(test.mexRangeFit)
#export(test.migpd)
#export(test.migpdCoefs)
#export(test.mrl)
#export(test.pgev)
#export(test.pgpd)
#export(test.plot.bootmex)
#export(test.plot.chi)
#export(test.plot.evmOpt)
#export(test.plot.mex)
#export(test.plot.migpd)
#export(test.plot.predict.evm)
#export(test.plot.predict.mex)
#export(test.plotrl.evm)
#export(test.predict.evmBoot)
#export(test.predict.evmOpt)
#export(test.predict.evmSim)
#export(test.predict.mex)
#export(test.qgev)
#export(test.qgpd)
#export(test.revTransform)
#export(test.rgev)
#export(test.rgpd)
#export(test.specfun.safe.product)
#export(test.thinAndBurn.evmSim)

#export(texmexCheckMap)
#export(texmexGetParam)
#export(texmexJumpConst)
#export(texmexMakeCI)
#export(texmexMakeCISim)
#export(texmexMakeCovariance)
#export(texmexMakeNewdataD)
#export(texmexMakeParams)
#export(texmexMethod)
#export(texmexMetropolis)
#export(texmexParameters)
#export(texmexPredictSE)
#export(texmexPrepareData)
#export(texmexPrior)
#export(texmexPriorParameters)
#export(texmexPst)
#export(texmexThresholdData)
#export(texmexTrace)
#export(addCoefficients)
#export(addCov)
#export(addCovariance)
#export(ConstraintsAreSatisfied)
#export(constructEVM)
#export(estimate_HT)
#export(estimate_HT_KPT_joint_posneg_nm)
#export(.Depends)
#export(initial_posneg)
#export(inv_Laplace)
#export(PosGumb.Laplace.negloglik)
#export(PosGumb.Laplace.negProfileLogLik)
#export(Profile_likelihood_cd_nm_joint_D_KT)
#export(Profile_likelihood_cd_nm_joint_D_KT_neg)
#export(Profile_likelihood_HT_unc)
#export(profile_minmax_joint_posneg_KT)


